<div id="<%= dom_id employess %>">
  <p>
    <strong>Nom:</strong>
    <%= employess.nom %>
  </p>

  <p>
    <strong>Prenom:</strong>
    <%= employess.prenom %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= employess.age %>
  </p>

  <p>
    <strong>Salaire:</strong>
    <%= employess.salaire %>
  </p>

</div>
